.sidebar {
display: flex;
flex-direction: column;
  height: 50%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background:none;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebarOpen {
  width: 250px;
}

.sidebar a {
  margin: 0 15px;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: color 0.3s;
  transition: all 0.3s ease-in-out;
}

.sidebar a:hover {
  color: #ff416c;
  cursor: pointer;
}
.button {
  background-color: #9c2bffbd;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.button:hover {
  background-color: #ff416c;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .nav-item {
      padding: 10px;
      display: block;
  }

  .header {
      flex-direction: column;
      align-items: center;
  }
}