.skillBar {
  background-color: #3df559;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px 0; /* Añade margen para separación entre barras */
}

.skillLevel {
  height: 25px;
  background-color: #4caf50;
  width: 0; /* Comienza con 0 para animación */
  transition: width 1s ease-in-out;
}

.skillLevel[data-skill='html'] {
  width: 90%;
}

.skillLevel[data-skill='css'] {
  width: 80%;
}

.skillLevel[data-skill='javascript'] {
  width: 70%;
}

.skillLevel[data-skill='react'] {
  width: 80%;
}

/* Opcional: estilos adicionales */
.skillBar span {
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  font-weight: bold; 
}