.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    align-items: center;
    justify-content: center;
    background-color:none;
    color: rgb(100, 215, 54);/* Asegúrate de que el modal esté en frente */
    padding: 80px;
    box-sizing: border-box;
    font-family: "Orbitron";
}
.containerAll {
    position: fixed; /* Fija el modal en la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa el 100% del alto de la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(100, 215, 54);
    z-index: 1000; /* Asegúrate de que el modal esté en frente */
    padding: 20px;
    box-sizing: border-box;
    font-family: "Orbitron";
}
.tittle {
    color: rgb(100, 215, 54);
}

.closeButton {
    font-family: "Orbitron";
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: rgba(249, 51, 51, 0.547);

}

.closeButton:hover {
    color: rgb(249, 51, 51);
    transition: 0.5s;
    background-color: rgb(0, 0, 0);
    scale: 1.2;
}
.closeButton:active {
    transform: scale(0.9);
    transition: 0.5s;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: rgb(100, 215, 54);
    font-size: 15px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgba(60, 167, 18, 0.547);
    font-size: 15px;
}
.icon:hover {
    color: rgb(60, 167, 18);
    transition: 0.7s;
    scale: 1.7;
}