.about {
  padding: 40px;
  background-color: #f9f9f982;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #8e0222;
  text-align: center;
}

.subtitle {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #0042b2;
}

p, ul {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}