@font-face {
  font-family: Orbitron;
  src: url('..//src/Assets/fonts/Orbitron.ttf');
}
.App, body {
  background-color: #212121;
  background-size: cover;
  font-family: Orbitron;
  color : rgb(0, 0, 0);
  margin: none;
  padding: none;
  text-align: center;
  background-size: cover;
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
